body {
  /* On modern browsers, prevent the whole page to bounce */
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "宋体";
}
body #wrapper {
  position: absolute;
  left: 7%;
  right: 7%;
  top: 2%;
  bottom: 2%;
  overflow: hidden;
  /* Prevent native touch events on Windows */
  -ms-touch-action: none;
  /* Prevent the callout on tap-hold and text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Prevent text resize on orientation change, useful for web-apps */
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
body #wrapper #scroller {
  position: absolute;
  /* Prevent elements to be highlighted on tap */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* Put the scroller into the HW Compositing layer right from the start */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
body #wrapper #scroller .contain .my-gallery .tittle-info {
  width: 100%;
  line-height: 0.2rem;
  font-size: 0.12rem;
  letter-spacing: 1px;
  color: #000;
  margin-top: 5px;
  text-align: justify;
}
body #wrapper #scroller .contain .my-gallery .tittle-info span {
  font-size: 0.16rem;
  color: red;
  font-weight: bold;
}
body #wrapper #scroller .contain .my-gallery .tittle-img {
  width: 100%;
  height: 1rem;
}
body #wrapper #scroller .contain .my-gallery .tittle-img #img {
  width: 100%;
  height: 100%;
}
body #wrapper #scroller .contain .my-gallery h1 {
  text-align: left;
  font-size: 0.18rem;
  line-height: 0.3rem;
  color: #454545;
  border-left: 5px solid red;
  margin: 0.2rem 0 0.1rem 0;
  text-indent: 0.1rem;
}
body #wrapper #scroller .contain .my-gallery .system {
  width: 100%;
  height: 1rem;
  display: flex;
}
body #wrapper #scroller .contain .my-gallery .system p {
  display: inline-block;
  flex: 1;
  text-align: center;
  vertical-align: bottom;
  height: 1rem;
}
body #wrapper #scroller .contain .my-gallery .system p span {
  display: inline-block;
  float: left;
}
body #wrapper #scroller .contain .my-gallery .system p .sp1 {
  height: 0.64rem;
  width: 100%;
  background: url(../img/ambient-6.png) no-repeat center center;
  background-size: 0.64rem 0.64rem;
}
body #wrapper #scroller .contain .my-gallery .system p .sp2 {
  height: 0.64rem;
  width: 100%;
  background: url(../img/ambient-7.png) no-repeat center center;
  background-size: 0.64rem 0.64rem;
}
body #wrapper #scroller .contain .my-gallery .system p .sp3 {
  height: 0.64rem;
  width: 100%;
  background: url(../img/ambient-8.png) no-repeat center center;
  background-size: 0.64rem 0.64rem;
}
body #wrapper #scroller .contain .my-gallery .system p .sp4 {
  height: 0.64rem;
  width: 100%;
  background: url(../img/ambient-9.png) no-repeat center center;
  background-size: 0.64rem 0.64rem;
}
body #wrapper #scroller .contain .my-gallery .system p .des {
  font-size: 0.1rem;
  line-height: 0.14rem;
  padding: 0 0.05rem;
  margin-top: 3px;
}
body #wrapper #scroller .contain .my-gallery .software-box {
  width: 100%;
}
body #wrapper #scroller .contain .my-gallery .software-box #img {
  width: 100%;
  height: 1.55rem;
}
body #wrapper #scroller .contain .my-gallery .trait {
  width: 100%;
  display: table;
}
body #wrapper #scroller .contain .my-gallery .trait ul {
  display: inline-block;
}
body #wrapper #scroller .contain .my-gallery .trait ul li {
  display: inline-block;
  float: left;
  width: 100%;
  line-height: 0.2rem;
  font-size: 0.12rem;
  color: #777777;
  background: #EEEEEE;
  margin-bottom: 0.05rem;
}
body #wrapper #scroller .contain .my-gallery .trait ul li span {
  display: inline-block;
  width: 0.2rem;
  height: 0.2rem;
  background: red;
  color: #fff;
  text-align: center;
  margin-right: 0.03rem;
}
body #wrapper #scroller .contain .my-gallery .scene {
  width: 100%;
  height: 1.85rem;
}
body #wrapper #scroller .contain .my-gallery .scene #img {
  width: 100%;
  height: 1.85rem;
}
fieldset,
img {
  border: 0;
}
figure {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}
