.product {
  width: 100%;
  height: 100%;
  position: relative;
}
.product #wrapper {
  position: absolute;
  z-index: 1;
  top: 3%;
  bottom: 3%;
  left: 8%;
  width: 84%;
  background: #fff;
  overflow: hidden;
}
.product #wrapper #scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}
.product #wrapper #scroller .nav {
  width: 100%;
  height: 1.45rem;
  margin-bottom: 0.1rem;
}
.product #wrapper #scroller .nav img {
  height: 100%;
  width: 100%;
}
.product #wrapper #scroller fieldset,
.product #wrapper #scroller img {
  border: 0;
}
.product #wrapper #scroller figure {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}
.product #wrapper #scroller .product-brief {
  display: block;
  width: 100%;
  font-size: 0.12rem;
  color: #000;
  line-height: 0.20rem;
  letter-spacing: 1px;
  text-align: justify;
}
.product #wrapper #scroller .product-brief span {
  font-size: 0.16rem;
  color: red;
  font-weight: bold;
}
.product #wrapper #scroller .product-img {
  width: 100%;
  height: 1.8rem;
}
.product #wrapper #scroller .product-img #img {
  width: 100%;
  height: 100%;
}
.product #wrapper #scroller .img-des {
  width: 100%;
  font-size: 0.1rem;
  text-align: center;
  line-height: 0.24rem;
}
.product #wrapper #scroller .img-des-ul {
  display: table;
}
.product #wrapper #scroller .img-des-ul li {
  display: inline-block;
  float: left;
  font-size: 0.12rem;
  line-height: 0.2rem;
  margin-bottom: 2px;
  color: #7a7a7a;
  width: 100%;
}
.product #wrapper #scroller .img-des-ul li span,
.product #wrapper #scroller .img-des-ul li p {
  display: inline-block;
  float: left;
}
.product #wrapper #scroller .img-des-ul li .icon {
  width: 0.16rem;
  height: 0.16rem;
  line-height: 0.16rem;
  vertical-align: top;
  background: red;
  border-radius: 50%;
  margin-right: 0.05rem;
  text-align: center;
  color: #fff;
}
.product #wrapper #scroller .img-des-ul li p {
  width: 90%;
}
.product #wrapper #scroller .img-des-ul li p .name {
  font-weight: bold;
}
.product #wrapper #scroller h1 {
  text-align: left;
  font-size: 0.18rem;
  line-height: 0.3rem;
  color: #454545;
  border-left: 5px solid red;
  margin: 0.2rem 0 0.05rem 0;
  text-indent: 0.1rem;
}
.product #wrapper #scroller .info {
  font-size: 0.12rem ;
  line-height: 0.24rem;
  color: #000;
}
.product #wrapper #scroller .info .list {
  display: table;
  width: 100%;
}
.product #wrapper #scroller .info .list span {
  color: #7a7a7a;
  display: inline-block;
  float: left;
  line-height: 0.24rem;
}
.product #wrapper #scroller .info .list p {
  display: inline-block;
  float: left;
  width: 90%;
}
.product #wrapper #scroller .dl-box {
  width: 100%;
}
.product #wrapper #scroller .dl-box dl {
  display: inline-block;
  width: 100%;
  float: left;
}
.product #wrapper #scroller .dl-box dl dt {
  display: inline-block;
  width: 100%;
  height: 0.3rem;
  line-height: 0.3rem;
  font-size: 0.12rem;
  font-weight: bold;
  float: left;
}
.product #wrapper #scroller .dl-box dl dd {
  float: left;
  width: 100%;
  height: 2.2rem;
}
.product #wrapper #scroller .dl-box dl dd #img {
  width: 100%;
  height: 2.2rem;
}
.product #wrapper #scroller .case {
  width: 100%;
  display: table;
}
.product #wrapper #scroller .case ul {
  display: inline-block;
}
.product #wrapper #scroller .case ul li {
  display: inline-block;
  float: left;
  width: 100%;
  line-height: 0.2rem;
  font-size: 0.12rem;
  color: #777777;
}
