<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>婴儿防盗系统简介</title>
	
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="../static/css/baby.css"/>
	
	<link rel="stylesheet prefetch" href="../static/css/photoswiper/photoswipe.css"/>
	<link rel="stylesheet prefetch" href="../static/css/photoswiper/default-skin/default-skin.css"/>
		
	<script type="text/javascript" src="../static/js/fontSize/setfontsize.js"></script>
	<script src="../static/js/iscroll.js" type="text/javascript"></script>
	
	
</head>
<body>
	<div class="product">
		
		<div id="wrapper">
			<div id="scroller">
				<div class="loading"></div>
				
				<div class="my-gallery" data-pswp-uid="1" >
					<div class="nav">
						<figure>
							<span>
							  	<a href="../static/img/baby-nav.png" data-size="670x306">
							  		<img src="../static/img/baby-nav.png"/>
							  	</a>
							</span>
						</figure>
					</div>
					<p class="product-brief"><span>婴儿防盗系统</span>&nbsp;依托全球领先的RFID射频技术，通过给婴儿和母亲佩戴有源电子标签，为婴儿提供多重防盗、防抱错、定位、视频联动等全方位监控及全时段的24小时保护，在提高管理效率、解决家长后顾之忧的同时有效提升医院形象。</p>
					<div class="product-img">
						<figure>
							<span>
							  	<a href="../static/img/boby.png" data-size="670x360">
							  		<img id="img" src="../static/img/boby.png"/>
							  	</a>
							</span>
						</figure>
						
					</div>
					<!--<p class="img-des">系统硬件设备部署示意图</p>-->
					<ul class="img-des-ul">
						<li><span class="icon">1</span> <p><span class="name">智能交互终端：</span>安装在护士站，业务流程操作、系统状态报警</p></li>
						<li><span class="icon">2</span> <p><span class="name">RFID阅读器：</span>安装在天花板上，RFID信号接收</p></li>
						<li><span class="icon">3</span> <p><span class="name">出口监控器：</span>安装在病区出入口，出口监控及管理</p></li>
						<li><span class="icon">4</span> <p><span class="name">婴儿脚环：</span>婴儿佩戴，婴儿状态监测及位置监测，母婴身份绑</p></li>
						<li><span class="icon">5</span> <p><span class="name">母亲标签：</span>母亲佩戴，母婴身份绑定及防抱错</p></li>
					</ul>
					<h1>产品优势</h1>
					<div class="info">
						<div class="list">
							<span>●  </span><p>标签状态实时监控，拥有出口监控、剪断报警、低电压报警、丢失等多重防御；</p>
						</div>
						<div class="list">
				       		<span>●  </span><p>母婴身份匹配，预防婴儿抱错；</p>
				       	</div>
				       	<div class="list">
				       		<span>●  </span><p>婴儿标签引入皮肤感应技术，实现标签脱落报警；</p>
				       	</div>
				       	<div class="list">
				       		<span>●  </span><p>针对系统流程，设计智能操作终端，“一键式”业务流程操作；</p>
				       	</div>
				       	<div class="list">
				       		<span>●  </span><p>获得CE、辐射安全认证、IPX7防水认证的全球最小婴儿标签；</p>
				       	</div>
				       	<div class="list">
				      		 <span>●  </span><p>FDA与RoHs认证、个性化性别标识的婴儿腕带；</p>
				       	</div>
				       	<div class="list">
				       		<span>●  </span><p>关键设备自主防御，突发网络通讯或设备异常，自动切换工作模式，保证系统工作正常；</p>
				       	</div>
				       	<div class="list">
				       		<span>●  </span><p>母亲与婴儿位置实时定位、位置预判、轨迹跟踪；</p>
				       	</div>
				       	<div class="list">
				       		<span>●  </span><p>出口报警视频实时显示与回放；</p>
				       	</div>
				       <div class="list">
				       		<span>●  </span><p>系统状态、报警信息、报警图像支持PDA以及微信等APP的即时通讯；</p>
				       </div>
					</div>
					<h1>功能截图</h1>
					<div class="dl-box">
						<dl>
							<dt>母婴报错报警</dt>
							<dd class="dl-01">
								<figure>
									<span>
									  	<a href="../static/img/baby-dl-01.png" data-size="670x468">
									  		<img id="img" src="../static/img/baby-dl-01.png"/>
									  	</a>
									</span>
								</figure>
							</dd>
						</dl>
						<dl>
							<dt>出口报警</dt>
							<dd class="dl-02">
								<figure>
									<span>
									  	<a href="../static/img/baby-dl-02.png" data-size="670x468">
									  		<img id="img" src="../static/img/baby-dl-02.png"/>
									  	</a>
									</span>
								</figure>
							</dd>
						</dl>
						<dl>
							<dt>移动端界面</dt>
							<dd class="dl-03">
								<figure>
									<span>
									  	<a href="../static/img/baby-dl-03.png" data-size="670x468">
									  		<img id="img" src="../static/img/baby-dl-03.png"/>
									  	</a>
									</span>
								</figure>
							</dd>
						</dl>
						<dl>
							<dt>标签消毒</dt>
							<dd class="dl-04">
								<figure>
									<span>
									  	<a href="../static/img/baby-dl-04.png" data-size="670x468">
									  		<img id="img" src="../static/img/baby-dl-04.png"/>
									  	</a>
									</span>
								</figure>
							</dd>
						</dl>
					</div>
					<div class="case">
						<h1>典型案例</h1>
						<ul>
							<li><a>●中国人民解放军总医院</a></li>
							<li><a>●首都医科大学附属北京天坛医院</a></li>
							<li><a>●广州妇女儿童医疗中心</a></li>
							<li><a>●无锡市人民医院</a></li>
							<li><a>●首都医科大学宣武医院</a></li>
							<li><a>●浙江省中医院下沙分院</a></li>
							<li><a>●昆明医科大学第二附属医院</a></li>
							<li><a>●滨江医学院附属医院</a></li>
							<li><a>●瑞安市人民医院</a></li>
							<li><a>●北京大学人民医院</a></li>
							<li><a>●新疆医科大学第一附属医院</a></li>
							<li><a>●福建省立金山医院</a></li>
							<li><a>●浙江大学医学院附属第一医院</a></li>
							<li><a>●北京大学第三人民医院</a></li>
							<li><a>●上海市长宁区妇幼保健院</a></li>
							<li><a>●北京大学国际医院</a></li>
						</ul>
					</div>
					<div class="kong" style="height: 1.5rem; width: 100%;">
						
					</div>
				</div>		
			</div>
		</div>
		
		
		<!-- Root element of PhotoSwipe. Must have class pswp.photoswipe的根元素。必须有class pswp。 -->
		<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

			<!-- Background of PhotoSwipe. 
    	它是一个单独的元素作为动画透明度比rgba()。
         It's a separate element as animating opacity is faster than rgba(). -->
			<div class="pswp__bg"></div>

			<!-- Slides wrapper with overflow:hidden.包装与溢出：隐藏幻灯片。 -->
			<div class="pswp__scroll-wrap">

				<!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
				<div class="pswp__container">
					<div class="pswp__item"></div>
					<div class="pswp__item"></div>
					<div class="pswp__item"></div>
				</div>

				<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
				<div class="pswp__ui pswp__ui--hidden">

					<div class="pswp__top-bar">

						<!--  Controls are self-explanatory. Order can be changed. -->

						<div class="pswp__counter"></div>

						<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

						<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

						<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

						<div class="pswp__preloader">
							<div class="pswp__preloader__icn">
								<div class="pswp__preloader__cut">
									<div class="pswp__preloader__donut"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
						<div class="pswp__share-tooltip"></div>
					</div>

					<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

					<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

					<div class="pswp__caption">
						<div class="pswp__caption__center"></div>
					</div>

				</div>

			</div>

		</div>
		
		
	</div>
	
</body>
</html>

	<script src="../static/js/zepto.min.js" type="text/javascript"></script>
	<script src="../static/js/_iscroll.js" type="text/javascript"></script>
	<script src="../static/js/photoswiper/photoswipe.js"></script>
	<script src="../static/js/photoswiper/photoswipe-ui-default.min.js"></script>
	<!--点击放大的动作-->
	<script type="text/javascript" src="../static/js/photoswiper/initPhoto.js"></script>
	
	
