<!doctype html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>智能冷链管理系统</title>
		<link rel="stylesheet" type="text/css" href="../static/css/reset.css"/>
		<link rel="stylesheet prefetch" href="../static/css/photoswiper/photoswipe.css"/>
		<link rel="stylesheet prefetch" href="../static/css/photoswiper/default-skin/default-skin.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/coldChain.css"/>
		<script src="../static/js/fontSize/setfontsize.js"></script>
		<script src="../static/js/iscroll.js"></script>
		<script src="../static/js/zepto.min.js"></script>
		<script src="../static/js/_iscroll.js" type="text/javascript"></script>
	</head>

	<body>
		<div id="wrapper">
			<div id="scroller">
				<div class="contain">
					
					<div class="loading"></div>
					
					<div class="my-gallery" data-pswp-uid="1">
						<div class="tittle-info">
							<span>智能冷链管理系统</span>&nbsp;是应用物联网技术结合医疗物联网共性开放平台，对医院药房、药库、医用冰箱、冷库的温湿度进行实时采集与全面监控管理系统。系统可以实现对药品、检验样品、试剂、血液等被管理对象的存储环境的温湿度数据进行实时采集、分析、统计、报警、处理及追溯。
						</div>
						<div class="tittle-img">
							<figure>
								<span>
								  	<a data-size="1070x325" href="../static/img/coldChain-1.png">
								  		<img id="img" src="../static/img/coldChain-1.png" />
								  	</a>
								</span>
							</figure>
						</div>
						
						<h1>系统功能</h1>
						<div class="system">
							<div class="system-list">
								<h2 class="system-list-tittle">实时监控</h2>
								<p class="des">采用无线物联网技术进行温湿度参数的实时采集、上传，可以及时显示在PC或手机APP上</p>
							</div>
							<div class="system-list">
								<h2 class="system-list-tittle">部署方便</h2>
								<p class="des">温湿度标签采用物联网技术，部署时不需要重新布线，简单便捷</p>
							</div>
							<div class="system-list">
								<h2 class="system-list-tittle">全面掌控</h2>
								<p class="des">实现院内多科室同步监控的同时，还可以实现院内配送、院外运输等环节的监控与管理</p>
							</div>
							
							<div class="system-list system-list-href left">
								<h2 class="system-list-tittle">全程追溯</h2>
								<p class="des">医疗物联网共性开放平台对采集温湿度标签采集的数据进行存储，因此，后续可以根据需要对所以的历史数据都可进行追溯</p>
							</div>
							<div class="system-list system-list-href">
								<h2 class="system-list-tittle">高效管理</h2>
								<p class="des">系统自动生成工作报表；灵活设置报警阈值；可以通过手机APP或短信进行及时提醒，实现移动式监管</p>
							</div>
							<div class="img">
								<figure>
									<span>
									  	<a data-size="1070x313" href="../static/img/coldChain-2.png">
									  		<img id="img" src="../static/img/coldChain-2.png" />
									  	</a>
									</span>
								</figure>
							</div>
							
						</div>
						
						<h1>硬件介绍</h1>
						<div class="hardware">
							<div class="hardware-list">
								<div class="hardware-list-left">
									<span class="frist"></span>
									<p>温湿度标签</p>
								</div>
								<div class="hardware-list-right">
									<div class="des">
										是一款既适用于普通冷藏环境又适用于低温冷冻环境的低功耗的无线温湿度检测仪表，锂电池供电，无线数据传输，无需现场布线，节省了人力及施工成本，是传统温度变送器的理想升级换代产品
									</div>
									
								</div>
							</div>
							<div class="hardware-list">
								<div class="hardware-list-left">
									<span class="second"></span>
									<p>阅读器R600+</p>
								</div>
								<div class="hardware-list-right">
									<div class="des">
									是一款RFID信号接收设备，可以同时接收433MHz、2.4GHz等多种频段信号。适用于婴儿防盗、人员资产定位等物联网系统</div>
								</div>
							</div>
							<div class="hardware-list">
								<div class="hardware-list-left">
									<span class="third"></span>
									<p>物联网AP</p>
								</div>
								<div class="hardware-list-right">
									<div class="des">
									是新一代四网合一企业级高性能物联网AP，它可以同时收发WIFI与RFID信号，实现无线网络接入点和RFID信号的覆盖。已被广泛应用于冷链管理、环境监测、门诊输液、移动护理、婴儿防盗等物联网项目</div>
								</div>
							</div>
							<div class="hardware-list">
								<div class="hardware-list-left">
									<span class="four"></span>
									<p>移动数据网关</p>
								</div>
								<div class="hardware-list-right">
									<div class="des">
									一款利用4G网络进行数据传输的网关设备，该设备主要用于运输配送途中实时采集并上传数据的设备。被广泛应用于冷链运输途中的环境监控与数据采集</div>
								</div>
							</div>
							<div class="hardware-list">
								<div class="hardware-list-left">
									<span class="five"></span>
									<p>无线温湿度保温箱</p>
								</div>
								<div class="hardware-list-right">
									<div class="des">
									是一款专门用于冷链物资院内外配送的箱式保温智能设备。该设备不仅拥有较高的保温效果，而且可以自动感应向内温度，并将数据实时无线上传到系统</div>
								</div>
							</div>
						</div>
						
						
					</div>
				</div>
			</div>
		</div>

		<!-- Root element of PhotoSwipe. Must have class pswp.photoswipe的根元素。必须有class pswp。 -->
		<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

			<!-- Background of PhotoSwipe. 
    	它是一个单独的元素作为动画透明度比rgba()。
         It's a separate element as animating opacity is faster than rgba(). -->
			<div class="pswp__bg"></div>

			<!-- Slides wrapper with overflow:hidden.包装与溢出：隐藏幻灯片。 -->
			<div class="pswp__scroll-wrap">

				<!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
				<div class="pswp__container">
					<div class="pswp__item"></div>
					<div class="pswp__item"></div>
					<div class="pswp__item"></div>
				</div>

				<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
				<div class="pswp__ui pswp__ui--hidden">

					<div class="pswp__top-bar">

						<!--  Controls are self-explanatory. Order can be changed. -->

						<div class="pswp__counter"></div>

						<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

						<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

						<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

						<div class="pswp__preloader">
							<div class="pswp__preloader__icn">
								<div class="pswp__preloader__cut">
									<div class="pswp__preloader__donut"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
						<div class="pswp__share-tooltip"></div>
					</div>

					<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

					<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

					<div class="pswp__caption">
						<div class="pswp__caption__center"></div>
					</div>

				</div>

			</div>

		</div>
		
	</body>
	
	
	
	<script src="../static/js/photoswiper/photoswipe.js"></script>
	<script src="../static/js/photoswiper/photoswipe-ui-default.min.js"></script>
	<!--点击放大的动作-->
	<script type="text/javascript" src="../static/js/photoswiper/initPhoto.js"></script>
</html>