<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>智能床用体征监测系统简介</title>
	
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="../static/css/intellectualcarebed.css"/>
	<link rel="stylesheet prefetch" href="../static/css/photoswiper/photoswipe.css"/>
	<link rel="stylesheet prefetch" href="../static/css/photoswiper/default-skin/default-skin.css"/>
		
	<script type="text/javascript" src="../static/js/fontSize/setfontsize.js"></script>
	<script src="../static/js/iscroll.js" type="text/javascript"></script>
	
	
</head>
<body>
	<div class="product">
		<div id="wrapper">
			<div id="scroller">
				<div class="loading"></div>
				<div class="my-gallery" data-pswp-uid="1">
					<div class="int-nav">
						<figure>
							<span>
							  	<a href="../static/img/int-carebed-01.jpg" data-size="670x375">
							  		<img src="../static/img/int-carebed-01.jpg"/>
							  	</a>
							</span>
						</figure>
					</div>
					<p class="product-brief"><span>智能床用体征监测系统</span>&nbsp;智能床用体征监测系统（uSleepCare）是一款全新的非穿戴监测人体生命体征的物联网应用设备，安放在床上的智能传感器，在不接触人体的情况下，实现对心率，心率变异性，体动，在离床等信息的连续监测，通过系统平台及APP，提供实时监测、突发风险实时预警及数据分析服务，产品可用于居家养老，睡眠诊疗、慢病防治、心血管病防治以及相关各类疾病的科研数据服务，适合个人家庭、养老院、医院、养生保健机构等各种应用场景。并且针对家庭用户推出了居家养老版本-智能床垫。</p>
					
					
					<h1>工作原理</h1>
					<div class="working-principle">
						<figure>
							<span>
							  	<a href="../static/img/int-carebed-02.jpg" data-size="670x171">
							  		<img src="../static/img/int-carebed-02.jpg"/>
							  	</a>
							</span>
						</figure>
					</div>
					
					<h1>系统构成</h1>
					<div class="system-composition">
						<figure>
							<span>
							  	<a href="../static/img/int-carebed-13.png" data-size="670x171">
							  		<img id="img-013" src="../static/img/int-carebed-13.png"/>
							  	</a>
							</span>
						</figure>
						<figure>
							<span>
							  	<a href="../static/img/int-carebed-03.jpg" data-size="670x712">
							  		<img id="img-03" src="../static/img/int-carebed-03.jpg"/>
							  	</a>
							</span>
						</figure>
						<figure>
							<span>
							  	<a href="../static/img/int-carebed-04.jpg" data-size="670x712">
							  		<img id="img-04" src="../static/img/int-carebed-04.jpg"/>
							  	</a>
							</span>
						</figure>
					</div>
					
					
					<h1>核心功能</h1>
					<div class="core-function">
						<figure>
							<span>
							  	<a href="../static/img/int-carebed-05.jpg" data-size="670x712">
							  		<img id="img-05" src="../static/img/int-carebed-05.jpg"/>
							  	</a>
							</span>
						</figure>
						
					</div>
					<h1>系统优势</h1>
					<div class="core-function-des">
						<p><span>非接触式</span><span>无需接触，重塑健康检测体检，你感觉不到它的存在，它却时刻在你身边</span></p>
						<p><span>数据分析</span><span>结合健康云平台，提供在线监测和专业的健康数据分析服务</span></p>
						<p><span>实时监测</span><span>在床即监测，实时连续的监测心率、呼吸率、体动、心率变异等生命体征信息</span></p>
						<p><span>平台开放</span><span>提供API接口，可与其他云平台对接</span></p>
					</div>
					
					
					<h1>应用场景</h1>
					<div class="application-scenarios">
						<div class="imgBox">
							<figure>
								<span>
								  	<a href="../static/img/int-carebed-07.jpg" data-size="670x290">
								  		<img id="img-07" src="../static/img/int-carebed-07.jpg"/>
								  	</a>
								</span>
							</figure>
						</div>
							
						<div class="des">
							<p>家庭</p><p>养老院</p><p>医院</p>
						</div>
						<div class="imgBox">
							<figure>
								<span>
								  	<a href="../static/img/int-carebed-08.jpg" data-size="670x290">
								  		<img id="img-08" src="../static/img/int-carebed-08.jpg"/>
								  	</a>
								</span>
							</figure>
						</div>
						<div class="des">
							<p>康复中心</p><p>疗养院</p>
						</div>
						
					</div>
					
					<div class="application-scenarios-des">
						<div class="top">
							<div class="list">
								<span>个人/家庭</span>
								通过对行动不便者的监测让监护人时刻掌握被监测人的生命体征、在离床状态等信息
							</div>
							<div class="list">
								<span>医院</span>
								通过部署全科室智能床设备持续监测病人生命体征数据提高护士工作效率的同时进行有效的风险防范
							</div>
						</div>
						<div class="top">
							<div class="list">
								<span>养老院</span>
								通过部署养老院/福利中心的智能床设备，随时掌握老人的生命体征、睡眠状态等防范风险于未然
							</div>
							<div class="list">
								<span>养生保健机构</span>
								时刻掌握会员的体征情况长期观测跟踪健康状态，大数据分析提供改善建议以及专业的定期健康报表
							</div>
						</div>
					</div>
					
					
					<h1>现场实景</h1>
					<div class="Live">
						<figure>
							<span>
							  	<a href="../static/img/int-carebed-11.jpg" data-size="670x190">
							  		<img id="img-11" src="../static/img/int-carebed-11.jpg"/>
							  	</a>
							</span>
						</figure>
						<figure>
							<span>
							  	<a href="../static/img/int-carebed-12.jpg" data-size="670x300">
							  		<img id="img-12" src="../static/img/int-carebed-12.jpg"/>
							  	</a>
							</span>
						</figure>
						
					</div>
					<h1>合作机构</h1>
					<div class="teamworks">
						<p>现在全省已拥有杭州市社会福利中心、西湖区社会福利中心、桐乡市社会福利中心等数十家医疗，养老机构等合作单位，床位万余张，并获得了各机构与老人的一致好评！</p>
					</div>
					
					
					<div class="kong" style="height: 1.5rem; width: 100%;">
						
					</div>
				</div>		
			</div>
		</div>
		
		<!-- Root element of PhotoSwipe. Must have class pswp.photoswipe的根元素。必须有class pswp。 -->
		<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

			<!-- Background of PhotoSwipe. 
    	它是一个单独的元素作为动画透明度比rgba()。
         It's a separate element as animating opacity is faster than rgba(). -->
			<div class="pswp__bg"></div>

			<!-- Slides wrapper with overflow:hidden.包装与溢出：隐藏幻灯片。 -->
			<div class="pswp__scroll-wrap">

				<!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
				<div class="pswp__container">
					<div class="pswp__item"></div>
					<div class="pswp__item"></div>
					<div class="pswp__item"></div>
				</div>

				<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
				<div class="pswp__ui pswp__ui--hidden">

					<div class="pswp__top-bar">

						<!--  Controls are self-explanatory. Order can be changed. -->

						<div class="pswp__counter"></div>

						<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

						<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

						<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

						<div class="pswp__preloader">
							<div class="pswp__preloader__icn">
								<div class="pswp__preloader__cut">
									<div class="pswp__preloader__donut"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
						<div class="pswp__share-tooltip"></div>
					</div>

					<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

					<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

					<div class="pswp__caption">
						<div class="pswp__caption__center"></div>
					</div>

				</div>

			</div>

		</div>
		
		
	</div>
	
</body>
</html>

	<script src="../static/js/zepto.min.js" type="text/javascript"></script>
	<script src="../static/js/_iscroll.js" type="text/javascript"></script>
	
	<script src="../static/js/photoswiper/photoswipe.js"></script>
	<script src="../static/js/photoswiper/photoswipe-ui-default.min.js"></script>
	<!--点击放大的动作-->
	<script type="text/javascript" src="../static/js/photoswiper/initPhoto.js"></script>
	
	
