<!doctype html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>智能硬件</title>
		<link rel="stylesheet" type="text/css" href="../static/css/reset.css"/>
		<link rel="stylesheet prefetch" href="../static/css/photoswiper/photoswipe.css"/>
		<link rel="stylesheet prefetch" href="../static/css/photoswiper/default-skin/default-skin.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/infusion.css"/>
		<script src="../static/js/fontSize/setfontsize.js"></script>
		<script src="../static/js/iscroll.js"></script>
		<script src="../static/js/zepto.min.js"></script>
		<script src="../static/js/_iscroll.js" type="text/javascript"></script>
		<script src="../static/js/label.js" type="text/javascript"></script>
	</head>

	<body>
		<div id="wrapper">
			<div id="scroller">
				<div class="contain">
					<div class="my-gallery" data-pswp-uid="1">
						<!-- 1.婴儿标签 -->
						<div class="label-baby none">
							<div class="label-list">
								<figure>
									<span>
									  	<a data-size="408x238" href="../static/img/label-001.png">
									  		<img id="img" src="../static/img/label-001.png" />
									  	</a>
									</span>
								</figure>
							</div>
							<div class="label-list-des">
								<p>
									<span>婴儿标签</span>是专为婴儿设计的RFID有源电子标签，作为婴儿防盗系统的核心产品，具有防水、防盗、防脱落、防剪断、防抱错等功能，并支持实时定位，通过柔软的腕带佩戴在婴儿脚踝上。
								</p>
							</div>
							<h1>功能特性</h1>
							<ul class="ul">
								<li class="location"><p>人体工程学设计，美观无棱角、紧贴皮肤</p></li>
								<li class="img"><p>防水、防尘，消毒后可重复使用</p></li>
								<li class="z"><p>超低功耗，抗干扰</p></li>
								<li class="chi"><p>纽扣电池供电，电量实时监控与提醒</p></li>
								<li class="yang"><p>通过高标准行业认证，更安全</p></li>
								<li class="ling"><p>多重防盗、防破坏设计，支持母婴识别与实时定位</p></li>
							</ul>
						</div>
							
						<!-- 2.母亲标签M600 -->
						<div class="label-mather none">
							<div class="label-list">
								<figure>
									<span>
									  	<a data-size="243x203" href="../static/img/label-002.png">
									  		<img id="img" src="../static/img/label-002.png" />
									  	</a>
									</span>
								</figure>
							</div>
							<div class="label-list-des">
								<p>
									<span>母亲标签M600</span>是婴儿防盗系统中产妇佩戴的有源电子标签。采用独特防抱错设计，实现母亲与新生儿身份近距离自动识别，并支持实时定位。
								</p>
							</div>
							<h1>功能特性</h1>
							<ul class="ul">
								<li class="location"><p>腕带式设计、配合一次性身份识别腕带使用</p></li>
								<li class="z"><p>超低功耗、抗干扰</p></li>
								<li class="ling"><p>防水、防尘，消毒后重复使用</p></li>
								<li class="chi"><p>纽扣电池供电，电量实时监控与提醒</p></li>
								<li class="good"><p>硅胶材料，柔软舒适</p></li>
								<li class="img"><p>按需按键配对，支持多胞胎</p></li>
								
							</ul>
						</div>
						
						<!-- 3.资产标签A410 -->
						<div class="label-assets none">
							<div class="label-list">
								<figure>
									<span>
									  	<a data-size="150x150" href="../static/img/label-003.png">
									  		<img id="img img-assets" src="../static/img/label-003.png" />
									  	</a>
									</span>
								</figure>
							</div>
							<div class="label-list-des">
								<p>
									<span>资产标签A420</span>是一款拥有精确定位、紧急呼叫、运动监测、低电量报警、自动休眠等功能的有源电子标签。与定位器、阅读器配合使用。可实现被管理对象的精确定位。该标签主要用于资产及移动设备定位、医疗废弃物跟踪等。
								</p>
							</div>
							<h1>功能特性</h1>
							<ul class="icon-ul ul">
								<li class="location"><p>集成精确定位和运动监测功能</p></li>
								<li class="img"><p>电压实时监测，低电量自动报警</p></li>
								<li class="z"><p>智能休眠，增加电池使用寿命</p></li>
								<li class="si"><p>设置按钮，可以实现多种业务功能</p></li>
								<li class="yang"><p>三色LED提示灯，状态显示可定义</p></li>
							</ul>
						</div>
						
						<!-- 4.护士标签 -->
						<div class="label-nurse none">
							<div class="label-list">
								<figure>
									<span>
									  	<a data-size="572x385" href="../static/img/label-004.png">
									  		<img id="img" src="../static/img/label-004.png" />
									  	</a>
									</span>
								</figure>
							</div>
							<div class="label-list-des">
								<p>
									<span>护士卡片N600</span>不仅拥有精确定位、紧急呼叫、运动监测、低电量报警等功能，还拥有呼叫和取消自身及病人呼叫的功能。有助于护士对病患进行方便快捷的现场确认及处理。
								</p>
							</div>
							<h1>功能特性</h1>
							<ul class="icon-ul ul">
								<li class="location"><p>集成精确定位和运动监测功能</p></li>
								<li class="bi"><p>精致的卡片式设计，面贴可定制</p></li>
								<li class="chi"><p>内置大量柔性电池，使用寿命长</p></li>
								<li class="phone"><p>双按钮设计，带有呼叫及取消呼叫的功能也可自定义</p></li>
								<li class="ka"><p>带标准一卡通卡槽，可扩展一卡通功能</p></li>
								<li class="img"><p>电压实时监测，低电量自动报警</p></li>
							</ul>
						</div>
						<!-- 5.病人标签 -->
						<div class="label-patient none">
							<div class="label-list">
								<figure>
									<span>
									  	<a data-size="400x324" href="../static/img/label-005.png">
									  		<img id="img" src="../static/img/label-005.png" />
									  	</a>
									</span>
								</figure>
							</div>
							<div class="label-list-des">
								<p><span>病人标签</span>拥有呼叫、定位等功能的腕带式有源电子标签。它不仅具有防水等特点，还能与护士标签结合实现报警及取消报警的功能，为病人实现实时、移动呼叫提供便利。提高医院服务质量的同时，有效改善医患关系。</p>
							</div>
							<h1>功能特性</h1>
							<ul class="icon-ul ul">
								<li class="location"><p>集成精确定位和运动监测功能</p></li>
								<li class="good"><p>精致的人体工学设计，柔软舒适</p></li>
								<li class="phone"><p>具有实时移动呼叫的功能</p></li>
								<li class="FDA"><p>通过高标准FDA认证</p></li>
								<li class="img"><p>电压实时监测，低电量自动报警</p></li>
							</ul>
						</div>
						<!-- 6.呼叫单元C400 -->
						<div class="label-calling none">
							<div class="label-list">
								<figure>
									<span>
									  	<a data-size="422x392" href="../static/img/label-006.png">
									  		<img id="img" src="../static/img/label-006.png" />
									  	</a>
									</span>
								</figure>
							</div>
							<div class="label-list-des">
								<p><span>呼叫单元C400</span>是一款具有主动呼叫功能的有源RFID电子产品。它已被广泛应用于医院门诊输液、病房等场所。配合本公司物联网AP及手持设备，可以让医护人员随时随地接收到病人的呼叫，充分享受数字医疗所带来的巨大便利。</p>
							</div>
							<h1>功能特性</h1>
							<ul class="icon-ul ul">
								<li class="ling"><p>按钮长按呼叫，防止呼叫误操作</p></li>
								<li class="img"><p>电压实时监测，低电量自动报警</p></li>
								<li  class="chi"><p>功耗低，电池使用寿命长</p></li>
								<li class="good"><p>抗震、耐摔、易安装</p></li>
							</ul>
						</div>
						<!-- 7.智能床 -->
						<div class="label-Intelligent-bed none">
							<div class="label-list">
								<figure>
									<span>
									  	<a data-size="670x336" href="../static/img/label-007.jpg">
									  		<img id="img" src="../static/img/label-007.jpg" />
									  	</a>
									</span>
								</figure>
							</div>
							<div class="label-list-des">
								<p><span>uSleepCare智能床系列产品</span>是在不接触用户身体的情况下，通过安装在床位上的智能传感器，对用户各项生命体征实时监测，并通过数据网络实时传输给智能床用体征监测系统管理平台。控制器2*10/100/1000自适应LAN端口，可提供设备联网的状态指示，并可对传感器进行集中管理与算法分析处理以及提供物联网对象的可视化管理功能。</p>
							</div>
							<h1>功能特性</h1>
							<ul class="ul">
								<li class="good"><p>采用英特尔Edison架构，高效、稳定、精准</p></li>
								<li class="z"><p>非接触式，无需直接接触人体，便可采集数据</p></li>
								<li class="img"><p>连续性监测，全天候24小时监测体征数据</p></li>
								<li class="si"><p>自动适配，监测心率、呼吸、体动、在离床、翻身等</p></li>
								
							</ul>
						</div>
						<!-- 8.阅读器 -->
						<div class="label-reader none">
							<div class="label-list">
								<figure>
									<span>
									  	<a data-size="600x330" href="../static/img/label-008.jpg">
									  		<img id="img" src="../static/img/label-008.jpg" />
									  	</a>
									</span>
								</figure>
							</div>
							<div class="label-list-des">
								<p><span>阅读器R600+</span>是一款RFID信号接收设备，可以同时接收433MHz、2.4GHz等多种频段信号。适用于婴儿防盗、人员资产定位等物联网系统。</p>
							</div>
							<h1>功能特性</h1>
							<ul class="icon-ul ul">
								<li class="location"><p>远距离RFID自动识别</p></li>
								<li class="z"><p>支持433MHz、2.4GHz等多种射频频率</p></li>
								<li class="ling"><p>识别速度快、抗干扰能力强、保密性强</p></li>
								<li class="good"><p>防碰撞设计，可同时识别多个标签</p></li>
								<li class="chi"><p>标准IEEE 802.3af以太网（POE）供电</p></li>
								
							</ul>
						</div>
						<!-- 9.物联网AP模块IOT Module-H3C -->
						<div class="label-Internet none">
							<div class="label-list">
								<figure>
									<span>
									  	<a data-size="600x300" href="../static/img/label-009.jpg">
									  		<img id="img" src="../static/img/label-009.jpg" />
									  	</a>
									</span>
								</figure>
							</div>
							<div class="label-list-des">
								<p><span>物联网AP模块IOT Module-H3C</span>是一款内置在新华三集团H3C WA4320i-X-R物联网AP中，可实现物联网数据接收与发送的RFID模块。该物联网模块支持433MHz、蓝牙及ZigBee三种数据收发。</p>
							</div>
							<h1>功能特性</h1>
							<ul class="ul">
								<li class="img"><p>可同时实现有线、无线和RFID网络的同时覆盖</p></li>
							</ul>
						</div>
						
						<!-- 10.智能床头卡 -->
						<div class="label-Bedside-card none">
							<div class="label-list">
								<figure>
									<span>
									  	<a data-size="600x300" href="../static/img/label-010.jpg">
									  		<img id="img" src="../static/img/label-010.jpg" />
									  	</a>
									</span>
								</figure>
							</div>
							<div class="label-list-des">
								<p><span>智能床头卡SR100</span>是一款集成RFID数据接收、内容显示为一体的终端设备。智能床头卡支持体温贴、资产标签等感知设备数据的接收与转发。配合医院Wi-Fi覆盖。可以实现物联网覆盖。支持定位功能，能实现对被管理对象的精确定位。</p>
							</div>
							<h1>功能特性</h1>
							<ul class="ul">
								<li class="good"><p>替代传统纸质床头卡，与护理系列对接，实现信息自动更新</p></li>
								<li class="yang"><p>与体温贴配合，可实现体温监护功能</p></li>
								<li class="z"><p>支持433MHz、2.4GHz、蓝牙及ZigBee三种数据接入</p></li>
								<li class="img"><p>实现环境湿度检测</p></li>
								<li class="location"><p>可扩展定位功能：配合标签，实现对资产、人员的精确定位</p></li>
							</ul>
						</div>
						<!-- 11.定位器 -->
						<div class="label-Positioner none">
							<div class="label-list">
								<figure>
									<span>
									  	<a data-size="620x435" href="../static/img/label-011.png">
									  		<img id="img" src="../static/img/label-011.png" />
									  	</a>
									</span>
								</figure>
							</div>
							<div class="label-list-des">
								<p><span>定位器</span>是一款用于对被管理对象精确定位的硬件设备。同时支持定位和iBeacon功能，定位距离和参数可以通过配套APP进行配置，减轻安装实施人员的工作量。</p>
							</div>
						</div>
						<!-- 12.出口监视器 -->
						<div class="label-monitor none">
							<div class="label-list">
								<figure>
									<span>
									  	<a data-size="500x550" href="../static/img/label-012.jpg">
									  		<img id="img" src="../static/img/label-012.jpg" />
									  	</a>
									</span>
								</figure>
							</div>
							<div class="label-list-des">
								<p><span>出口监视器</span>是一款RFID信号接收与感应设备，可以同时接收125KHz、433MHz、2.4GHz等多种频段信号。适用于婴儿防盗、人员资产定位等物联网系统的出口报警。</p>
							</div>
							<h1>功能特性</h1>
							<ul class="ul">
								<li class="z"><p>远距离RFID信号接收</p></li>
								<li class="location"><p>近距离RFID信号自动识别</p></li>
								<li class="ling"><p>内置报警单元，支持声光报警</p></li>
								<li class="img"><p>标准IEEE 802.3af以太网供电</p></li>
								<li class="chi"><p>防断电设计，支持离线报警</p></li>
								<li class="good"><p>防碰撞设计，可同时识别多个RFID标签</p></li>
							</ul>
						</div>
						<!-- 13.管理控制中心 -->
						<div class="label-control-center none">
							<div class="label-list">
								<figure>
									<span>
									  	<a data-size="600x250" href="../static/img/label-013.png">
									  		<img id="img" src="../static/img/label-013.png" />
									  	</a>
									</span>
								</figure>
							</div>
							<div class="label-list-des">
								<p><span>管理控制中心GM2000</span>是一款集成物联网设备接入、RFID数据分析过滤、物联网设备管理、物联网终端管理、数据储存等功能的物联网控制器。</p>
							</div>
							<h1>功能特性</h1>
							<ul class="ul">
								<li class="ling"><p>自动发现并统一管理物联网设备及终端</p></li>
								<li class="si"><p>统一配置物联网设备与网络</p></li>
								<li class="img"><p>可视化管理平台，操作更简单快捷</p></li>
								<li class="good"><p>指示灯面板显示设备工作状态及帮助故障排除</p></li>
							</ul>
						</div>
						
						
					</div>
				</div>
			</div>
		</div>

		<!-- Root element of PhotoSwipe. Must have class pswp.photoswipe的根元素。必须有class pswp。 -->
		<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

			<!-- Background of PhotoSwipe. 
    	它是一个单独的元素作为动画透明度比rgba()。
         It's a separate element as animating opacity is faster than rgba(). -->
			<div class="pswp__bg"></div>

			<!-- Slides wrapper with overflow:hidden.包装与溢出：隐藏幻灯片。 -->
			<div class="pswp__scroll-wrap">

				<!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
				<div class="pswp__container">
					<div class="pswp__item"></div>
					<div class="pswp__item"></div>
					<div class="pswp__item"></div>
				</div>

				<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
				<div class="pswp__ui pswp__ui--hidden">

					<div class="pswp__top-bar">

						<!--  Controls are self-explanatory. Order can be changed. -->

						<div class="pswp__counter"></div>

						<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

						<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

						<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

						<div class="pswp__preloader">
							<div class="pswp__preloader__icn">
								<div class="pswp__preloader__cut">
									<div class="pswp__preloader__donut"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
						<div class="pswp__share-tooltip"></div>
					</div>

					<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

					<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

					<div class="pswp__caption">
						<div class="pswp__caption__center"></div>
					</div>

				</div>

			</div>

		</div>
		
	</body>
	
	
	
	<script src="../static/js/photoswiper/photoswipe.js"></script>
	<script src="../static/js/photoswiper/photoswipe-ui-default.min.js"></script>
	<!--点击放大的动作-->
	<script type="text/javascript" src="../static/js/photoswiper/initPhoto.js"></script>
</html>