<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>平台服务</title>
	
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="../static/css/platformService.css"/>
	
	<script type="text/javascript" src="../static/js/fontSize/setfontsize.js"></script>
	<script src="../static/js/iscroll.js" type="text/javascript"></script>
	
	
</head>
<body>
	<!--1. 顶部 tab -->
	<div id="service-header">
		<a class="list active">智能硬件</a>
		<a class="list">创新应用</a>
		<a class="list">接入服务</a>
	</div>
	<div class="loading"></div>
	<!-- 2. 主要内容区域 -->
	
	<div id="service-content">
		
		<!-- 2.1 智能硬件 -->
		<div class="product">
					
			<div id="wrapper">
				<div id="scroller">
					<a><img src="../static/img/BabyLabel@3x.png"/><p>婴儿标签</p></a>
					<a><img src="../static/img/label-002.png"/><p>母亲标签</p></a>
					<a><img src="../static/img/AssetTag@3x.png"/><p>资产标签</p></a>
					<a><img src="../static/img/label-004.png"/><p>护士标签</p></a>
					<a><img src="../static/img/label-005.png"/><p>病人标签</p></a>
					<a class="label-006"><img src="../static/img/label-006.png"/><p>呼叫单元</p></a>
					<a class="bed"><img src="../static/img/label-007.jpg"/><p>智能床</p></a>
					<a><img src="../static/img/reader@3x.png"/><p>阅读器</p></a>
					<a><img src="../static/img/label-009.jpg"/><p>物联网AP接入模块</p></a>
					<a><img src="../static/img/label-010.jpg"/><p>智能床头卡</p></a>
					<a><img src="../static/img/label-011.png"/><p>定位器</p></a>
					<a><img src="../static/img/label-012.jpg"/><p>出口监视器</p></a>
					<a><img src="../static/img/label-013.png"/><p>管理控制中心</p></a>
					<div class="kong"></div>
				</div>
			</div>
		</div>
		<!-- 2.2 创新应用 -->
		<div class="innovate none">
			<a href="baby"><div class="img-box"></div><p>婴儿防盗</p></a>
			<a href="personnel"><div class="img-box"></div><p>人员资产定位</p></a>
			<a href="ambient"><div class="img-box"></div><p>环境监测</p></a>
			<a href="coldChain"><div class="img-box"></div><p>冷链管理</p></a>
			<a href="temperature"><div class="img-box"></div><p>病人体温监控</p></a>
			<a href="intellectualCareBed"><div class="img-box"></div><p>智能床位监测</p></a>
			<a href="infusion"><div class="img-box"></div><p>输液监测</p></a>
			
		</div>
		<!-- 2.3 接入服务 -->
		<div class="access-service none">
			<div id="wrapper">
				<div id="scroller">
					<h1>合作伙伴</h1>
					<div class="access-service-img">
						<div class="img-box">
							<div class="img-01-box">
								<img id="img-01" src="../static/img/access-Hardware@3x.png"/>
							</div>
					  		<div class="img-02-box">
								<img id="img-02" src="../static/img/access-Software@3x.png"/>
							</div>
					  		
						</div>
							
						<div class="des">
							<p>硬件设备厂商</p><p>应用软件厂商</p>
						</div>
					</div>				
					<h1>接入流程</h1>
					<div class="access-flow-chart">
						<div class="top">
							<p class="margin-right">注册申请</p>
							<p class="margin-right">开发调试</p>
							<p>产品发布</p>
						</div>
						<div class="bottom">
							<p class="margin-left">审核</p>
							<p class="margin-left">认证测试</p>
						</div>
						<div class="arrow frist down"></div>
						<div class="arrow second up"></div>	
						<div class="arrow third down"></div>
						<div class="arrow four up"></div>
					</div>
					<p class="des">
						1、需要开发者到开发平台进行注册<br/>
						2、平台会对每一位注册账号进行人工审核，审核通过后会开通开发者账号<br/>
						3、开发者根据文档先进行相应的开发，开发完成后可在开发平台进行联调测试<br/>
						4、联调测试通过后，开发者可以在平台上提交申请并进行产品的测试认证<br/>
						5、认证测试通过后，平台会将产品同步到正式商用平台，并同时在物联商城上发布产品信息<br/>
					</p>
				</div>
			</div>
			
		</div>
		
	</div>
	<!--放大图片-->
	<div class="window">
        <div class="cloes-tag"></div>
        <img id="bg-img" src=""/>
    </div>
	
	
</body>
</html>
<script src="../static/js/zepto.min.js" type="text/javascript"></script>
<script src="../static/js/platformService.js" type="text/javascript"></script>
<script src="../static/js/_iscroll.js" type="text/javascript"></script>
	