<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>联系我们</title>
	
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="../static/css/us.css"/>
	<link type="text/javascript" src="../static/layer-v3.0.3/layer/skin/default/layer.css" />
	
	<script type="text/javascript" src="../static/js/fontSize/setfontsize.js"></script>
	<script src="../static/js/iscroll.js" type="text/javascript"></script>
	<script src="../static/js/jquery/jquery-2.0.0.js" type="text/javascript"></script>
	<!--画布：随机码-->
	<script type="text/javascript" src="../static/js/gVerify.js"></script>
	
	<!--<script type="text/javascript" src="../static/js/_iscroll.js"></script>-->
	<script type="text/javascript" src="../static/js/us.js"></script>
	<script type="text/javascript" src="../static/layer-v3.0.3/layer/layer.js"></script>
</head>
<body>
	<div class="us-box">
		<div class="nav">
			<a class="active">关于我们</a><a>联系我们</a>
		</div>
		<div class="content">
			<div class="we-info">
				<div id="wrapper">
					<div id="scroller">
							
							<div class="img-box">
								<img id="img-we" src="../static/img/us@3x.png"/>
							</div>
							<p class="img-box-des">
								杭州盈网科技有限公司是一家专业从事医疗健康物联网产品研发、销售以及提供平台解决方案的高新科技企业，致力成为医疗物联网产品及解决方案领导者。<br/>
	      					</p>
	      					<p class="img-box-des">
	      						公司聚焦医疗健康行业，以物联网开放平台为核心，为医疗健康服务各场景提供从终端到云平台的物联网产品及服务。主要产品包括医疗物联网开放平台，云养老监护解决方案，母婴安全解决方案及医疗物联网AP、中间件、RFID标签和各类可穿戴设备产品。目前产品已在医疗机构、智慧养老领域有不同深度的应用。
							</p>
							<h1>联系方式</h1>
							<p class="info">
								联系电话：400-0123-885<br/>
								邮箱：awarecloud@mlink.cc<br/>
								公司地址：浙江省杭州市滨江区六和路307号E幢6楼<br/>
							</p>
						
					</div>
				</div>
			</div>
			
			<div class="contact-us z-index">
				<div id="wrapper">
					<div id="scroller">
						<form id="contact" method="post">
							<div class="tittle-box">
								<div class="tittle">
									<icon></icon><span>邮箱：awarecloud@mlink.cc</span>
								</div>
								<p>您也可以直接填写以下表格并留下联系方式，我们会尽快给您回复</p>
							</div>
							<div class="table-box">
								<div class="list">
									<span class="left">姓名/职位：</span>
									<input type="text" id="userName" name="userName" tabindex="1" required="required"/>
									<span id="userName1" class="td"></span>
								</div>
								<div class="list">
									<span class="left">公司名称：</span>
									<input type="text" id="corporateName" name="corporateName" tabindex="2" required="required"/>
									<span id="corporateName1" class="td"></span>
								</div>
								<div class="list">
									<span class="left">电话：</span>
									<input id="phone" name="phone" type="text" tabindex="3" required="required"/>
									<span id="phone1" class="td"></span>
								</div>
								<div class="list">
									<span class="left">联系邮箱：</span>
									<input id="email" name="email" type="text" tabindex="4" required="required"/>
									<span id="email1" class="td"></span>
								</div>
								
								<div class="list textareaBox">
									<span class="left">内容：</span>
									<textarea id="content" name="content" tabindex="5" required="required"></textarea>
									<span id="content1" class="td"></span>
								</div>
								<div class="list">
									<span class="left">验证码：</span>
									<input id="validateCode" type="text" maxlength="4" tabindex="6" required="required"/>
									<p id="code_container"></p>
									<span id="validateCode1" class="td"></span>
								</div>
								
							</div>
							
							<div class="button" id="contact_submit">发送</div>
						</form>
					</div>
				</div>
			</div>
		
			
		</div>
		
		<div class="window">
            <div class="cloes-tag"></div>
        </div>
	</div>
	
	
</body>
</html>
	